<%- include('../includes/head.ejs')%>
<%- include('../includes/navigation.ejs')%>

<main>
    <form action="/admin/<% if (editing) { %>edit-product <% } else{ %>add-product<% } %>" method="POST">
        <p>
            标题：
            <input type="text" name="title" value="<% if (editing) { %><%= product.title %><% } %>">
        </p>
        <p>
            图片：
            <input type="text" name="imgUrl" value="<% if (editing) { %><%= product.imgUrl %><% } %>">
        </p>
        <p>
            价格：
            <input type="text" name="price" value="<% if (editing) { %><%= product.price %><% } %>">
        </p>
        <p>
            描述：
            <input type="text" name="description" value="<% if (editing) { %><%= product.description %><% } %>">
        </p>
        <input type="hidden" name="id" value="<% if (editing) { %><%= product.id %><% } %>">
        <button type="submit"><% if (editing) { %>编辑商品<% } else{ %>添加商品<% } %></button>
    </form>
</main>

<%- include('../includes/end.ejs')%>
