<%- include('../includes/head.ejs')%>
<%- include('../includes/navigation.ejs')%>
<main>
	<% if (prods.length > 0) {%>
	<h1>我的产品</h1>
	<p>这是产品列表...</p>
	<ul>
		<% prods.forEach(function(item){%>
			<li>
                <%=item.title %>|<%=item.price %>|
				<a href="/products/<%=item.id %>">查看详情</a>
				<form action="/cart" method="post">
					<input type="hidden" name="productId" value="<%=item.id %>">
					<button type="submit">添加到购物车</button>
				</form>
            </li>
		<% }) %>
	</ul>
	<% } else { %>
	<p>no content</p>
	<% } %>
</main>
<%- include('../includes/end.ejs')%>

